
.menuLink {
    color: black;
    text-decoration: none;
    letter-spacing: 0.5px;
    transition: 0.1s;
    padding: 2px;
}


a{
    text-decoration: none;
}

.activeOption {
    border-bottom: white solid 1px;
    background: #2196f3;
}



.menuLinkMobile {
    color: rgba(26, 24, 24, 0.85);
    text-decoration: none;
}